venv/*
__pycache__/
lib/
lib64
bin/
share/
etc/
include/
pyvenv.cfg
data/
models/
results_*
model_comparison.txt
classification_results.txt
best_*
*.pkl
enhanced_classification_results.*
report_*
Scripts/
scibert_finetuned_model.pt
